# Port the Express server listens on
PORT=5000

# Express Environment setting (development or production)
NODE_ENV=production

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/promptai?retryWrites=true&w=majority

# Google Gemini API key
GEMINI_API_KEY=AIzaSyYourGeminiApiKeyHere

# Gemini Model name to target
GEMINI_MODEL=gemini-2.5-flash

# JWT security key for access & refresh tokens signing
JWT_SECRET=generatesomehighlysecuredkeyhere

# Allowed Frontend Client Web origin for CORS checking
CLIENT_URL=https://promptai.vercel.app
